@import "tailwindcss";

input {
  @apply border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 accent-blue-500;
}

html {
  overflow-y: scroll;
}

.tab-trigger {
  @apply min-w-[8rem] px-6 py-2
  /* pienennä py-3 → py-2 */
  text-center font-medium text-gray-800 text-lg rounded-lg transition w-fit lg:flex-1;

  @apply bg-transparent shadow-none;
  /* oletuksena läpinäkyvä, ei varjoa */
}

.tab-trigger:hover {
  @apply bg-gray-200;
}

.tab-trigger[data-state="active"],
.tab-trigger[aria-selected="true"],
.tab-trigger[data-selected="true"] {
  @apply bg-white shadow text-gray-900;
}

.side-navigation {
  .file-tab-wrapper {
    &.active {
      background-color: lime;
    }
  }
}

.session-table {
  display: grid;
  grid-template-columns: 4fr repeat(8, 2fr) 1fr;
  gap: 8px;
  overflow-y: auto;
  min-height: 300px;
  align-content: start;

  .session-header,
  .session-body,
  .session-row,
  .file-row {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    justify-items: start;

    .identifier {
      display: flex;
      gap: 8px;
      align-items: center;
      align-items: start;
      text-align: left;
    }
  }

  .session-header {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    outline: 1px solid white;
    box-shadow: 0 9px 6px -10px #0000007a;
    z-index: 1;
  }

  .session-row,
  .file-row {
    cursor: pointer;
    padding-inline: 8px;
    min-width: 24px;

    &:hover {
      @apply bg-gray-50;
    }

    &.opened {
      position: sticky;
      top: 30px;
      @apply bg-gray-100;

      &:hover {
        @apply bg-gray-50;
      }
    }
  }

  .file-row {
    .identifier {
      grid-column: span 2;
      margin-left: 16px;
    }
  }
}

#file-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: min(100% - 16px, 1200px);
  width: min(100% - 16px, 1200px);
  padding: 16px;
  border-radius: 14px;
  overscroll-behavior: contain;
  flex-direction: column;

  &:open {
    display: flex;
  }

  #file-popup-close {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &::backdrop {
    background-color: black;
    opacity: 0.4;
  }

  .file-color-dot {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}
